body {
    color: gainsboro;
    background-color: #333;
}

/* Changing sideline color to light gray and text color to black */
.sidebar .sidebar-content {
    background-color: #c1c1c1;
    background-image: none;
    color: black;
}

/* Removing Main Menubar and Footer */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
footer:after {
	content:'Real Time Masked Face Recognition'; 
	visibility: visible;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}